{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Ввод и подтверждение нового пароля.</p>
        <form action="" method="POST">
            {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">Новый пароль:</label>
                        </td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Новый пароль ещё раз:</label>
                        </td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Далее" /></td>
                    </tr>
                </table>
        </form>
    {% else %}
        <h1>Ошибка смены пароля</h1>
        <p>Что то пошло не так. Возможно, ссылка устарела. Попробуйте изменить пароль ещё раз.</p>
    {% endif %}
{% endblock %}