{% extends "base_generic.html" %}

{% block content %}

<h3>Проект: {{ plan_title }}</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" id="edit-field">
      <div><label for="foundation">Фундамент: </label>
        <p><input type="radio" value="drilling_piles_grillage" checked id="foundation" name="foundation" />На
          буронабивных сваях с ростверком</p>
        <p><input type="radio" value="not_set" id="foundation" name="foundation" />Не задано</p>
      </div>
      <div><label for="fasade">Фасад:</label>
        <p><input type="radio" value="brick_1_nf" checked id="fasade" name="fasade" />Кирпич шириной 120мм (1 НФ)</p>
        <p><input type="radio" value="brick_0,7_nf" id="fasade" name="fasade" />Кирпич шириной 85мм (0,7 НФ)</p>
        <p><input type="radio" value="plaster" id="fasade" name="fasade" />Штукатурка</p>
        <p><input type="radio" value="ventilated" checked id="fasade" name="fasade" />Вентфасад</p>
      </div>
      <div><label for="insulate">Утеплитель: </label>
        <p><input type="radio" value="yes" checked id="insulate" name="insulate" />Да</p>
        <p><input type="radio" value="no" id="insulate" name="insulate" />Нет</p>
        <p><input type="radio" value="auto" id="insulate" name="insulate" />Авто</p>
      </div>
      <div><label for="insulate_thickness">Толщина утеплителя: </label>
        <p><input type="radio" value="100" checked id="insulate_thickness" name="insulate_thickness" />100мм</p>
        <p><input type="radio" value="50" id="insulate_thickness" name="insulate_thickness" />50мм</p>
        <p><input type="radio" value="auto" id="insulate_thickness" name="insulate_thickness" />Авто</p>
      </div>
      <h4>Материал стен в жилых помещениях:</h4>
      <div><label for="living_wall_material">Материал: </label>
        <p><input type="radio" value="outdoor" checked id="insulate_thickness" name="insulate_thickness" />Кирпич</p>
        <p><input type="radio" value="indoor" id="insulate_thickness" name="insulate_thickness" />Блок</p>
      </div>
      <div><label for="living_wall_material">Толщина: </label>
        <p><input type="radio" value="outdoor" checked id="insulate_thickness" name="insulate_thickness" />Авто</p>
        <p><input type="radio" value="indoor" id="insulate_thickness" name="insulate_thickness" />50мм</p>
      </div>
      <div><label for="living_wall_material">Материал стен в нежилых помещениях: </label>
        <p><input type="radio" value="outdoor" checked id="insulate_thickness" name="insulate_thickness" />Как в
          жилых</p>
          <p><input type="radio" value="indoor" id="insulate_thickness" name="insulate_thickness" />50мм</p>
      </div>
      <div><label for="living_wall_material">Толщина: </label>
        <p><input type="radio" value="outdoor" checked id="insulate_thickness" name="insulate_thickness" />Авто</p>
        <p><input type="radio" value="indoor" id="insulate_thickness" name="insulate_thickness" />50мм</p>
      </div>
    </div>
  </div>
</div>




{% load static %}
{% endblock %}