.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}


#stage {
    width: 700px;
    height: 700px;
    position: relative;
    border: 0px solid black;
  }
      
        canvas { position: absolute; }
        #canvas_0 { z-index: 2; }
        #canvas_1 { z-index: 1; }