.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}


#stage {
    width: 700px;
    height: 700px;
    position: relative;
    border: 0px solid black;
  }
      
        canvas { position: absolute; }
        #canvas_0 { z-index: 3; }
        #canvas_1 { z-index: 1; }    
        #canvas_2 { z-index: 2; }

        #dialog input {width: 15px; margin: 10px; text-align: left}
        #dialog label {display:inline-block; width: 300px; font-weight: bold;}
        table {border-collapse: collapse; border: thin solid black; margin: 10px}
        #placeholder {text-align: center}
        #show {margin: 10px}
        td, th {padding: 5px; width: 100px}

        p {
            margin-top: 0.0em; /* Отступ сверху */
            margin-bottom: 0.0em; /* Отступ снизу */
           }

label {display:inline-block; width: 300px; font-weight: bold;}