{% extends "base_generic.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Личный кабинет</h1>
<p><a href="{% url 'edit' %}">Редактировать профиль</a> или
    <a href="{% url 'password_change' %}">Сменить пароль</a>.
</p>
<h3>Мои проекты</h3>

<a href="{% url 'plan_create' %}">Создать проект</a>
{% if my_plans_list %}
<ul>
    {% for plan in my_plans_list %}
    <li>
        <a href="{{ plan.get_absolute_url }}">{{ plan.title }}, (id: {{ plan.id }})</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Пока у вас нет ни одного проекта...</p>
{% endif %}

<h3>Мои участки</h3>

<a href="{% url 'land_create' %}">Добавить участок</a>
{% if my_lands_list %}
<ul>
    {% for land in my_lands_list %}
    <li>
        <a href="{{ land.get_absolute_url }}"> {{ land.cadastral_number }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Пока у вас нет ни одного участка...</p>
{% endif %}


<h3>Геологические изыскания, проведенные мною</h3>
<p>Это должен видеть только пользователь, который может проводить геологические изыскания,</p>
<p>поскольку здесь показываются изыскания, который провел данный юзер-изыскательная организация.</p>
<p>Изыскания для частного пользователя находятся на странице с деталями его участка</p>

<a href="{% url 'survey_create' %}">Добавить геологическое изыскание</a>
{% if my_surveys_list %}
<ul>
    {% for survey in my_surveys_list %}
    <li>
        <a href="{{ survey.get_absolute_url }}"> Для участка: {{ survey.land.cadastral_number }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Пока у вас нет ни одного геологического изыскания...</p>
{% endif %}

{% endblock %}