{% extends "base_generic.html" %}

{% block content %}

<!-- стили для модальных окон-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">

<h3>Проект: {{ plan_title }}</h3>
<h4>Тест: {{ test }}</h4>

<div class="container-fluid">
  <div class="row">


    <div class="col-sm-10" id="edit-field">
      <div id="stage">
        <canvas id="canvas_0" style="border: 1px solid; left: 50px; top: 20px;" width="800" height="700"></canvas>
        <canvas id="canvas_1" style="border: 1px solid;  left: 50px; top: 20px;" width="800" height="700"></canvas>
        <canvas id="canvas_2" style="border: 1px solid; " width="900" height="740"></canvas>
        <canvas id="canvas_3" style="border: 1px solid; " width="900" height="740"></canvas>
      </div>
    </div>
    <div class="col-sm-2">
      <div id="line_type_selector" class="btn-group">
        <button id="straight" type="button" class="btn btn-light">Прямая</button>
        <button id="curve" type="button" class="btn btn-light">Кривая</button>
        <button id="polygon" type="button" class="btn btn-light">Многоугольник</button>
        <select id="polygon_sides" name="">
          <option value="2">2</option>
          <option value="3" selected>3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div id="element_selector" class="btn-group">
        <button id="none" type="button" class="btn btn-light">Сброс</button>
        <button id="wall" type="button" class="btn btn-light">Стена</button>
        <button id="entrance_group" type="button" class="btn btn-light">Входная группа</button>
      </div>

      <!-- <div id="test_buttons" class="btn-group">
        <button id="sender" type="button" class="btn btn-light">Расчет</button>
      </div> -->
      <!-- <a href="{% url 'get_response'  plan_id  %}">Расчет</a>  -->
      <div id="" class="btn-group">
        <button id="save" type="button" class="btn btn-light">Сохранить</button>
        <button id="check" type="button" class="btn btn-light">Проверить</button>
        <button id="post" type="button" class="btn btn-light">Выложить</button>
        <button id="restore" type="button" class="btn btn-light">Получить</button>
      </div>

      <form id="canvas_form" class="canvas-field" action="" name="{{ plan_id}}" method="POST">
        {% csrf_token %}
      </form>

      <!-- <input type="text" id="user-input" autofocus=""><br>
      <button type="button" id="save">Сохранить</button><br> -->
      <!-- <p id="p-text">foo bar</p> -->

      <script>

        // $("#sender").click(function () {
        //   var input = $('#user-input').val();


        //   $.ajax({
        //     url: "{% url 'get_response'  plan_id  %}",
        //     data: {
        //       'inputValue': input
        //     },
        //     dataType: 'json',
        //     success: function (data) {
        //       console.log("data = ", data)
        //       // dataX = data["respond"];

        //     }
        //   });
        // });

      </script>


    </div>
  </div>



</div>
<div class="container">
  <br>
  <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Фильтры</h3>
      <h5>Несущие стены, смежные с жилыми помещениями</h5>
      
      <p>
        <label for="living_bearing_material_type">Тип материала:</label>
        <input type="checkbox" checked name="living_bearing_material_type" />
        <select id="living_bearing_material_type" name="living_bearing_material_type">
          <option value="">Нажмите кнопку поиска внизу</option>
        </select>
      </p>
      <p>
        <label for="living_bearing_material_unit">Материал:</label>
        <input type="checkbox" checked name="living_bearing_material_unit" />
        <select id="living_bearing_material_unit" name="living_bearing_material_unit">
          <option value="">Нажмите кнопку поиска внизу</option>
        </select>
      </p>

      <h5>Несущие стены в нежилых помещениях</h5>
      <p>
        <p><input type="checkbox" checked name="uninhabited_bearing_same_material" />Как и в жилых</p>
        <label for="uninhabited_bearing_material_type">Тип материала:</label>
        <input type="checkbox" checked name="uninhabited_bearing_material_type" />
        <select id="uninhabited_bearing_material_type" name="uninhabited_bearing_material_type">
          <option value="">Нажмите кнопку поиска внизу</option>
        </select>
      </p>
      <p>
        <label for="living_bearing_material_unit">Материал:</label>
        <input type="checkbox" checked name="living_bearing_material_unit" />
        <select id="living_bearing_material_unit" name="living_bearing_material_unit">
          <option value="">Нажмите кнопку поиска внизу</option>
        </select>
      </p>

      <button type="button" id="calculate">Показать самый дешевый вариант</button>
    </div>
  </div>
</div>

<div id="dialog" title="Стены" class="ui-widget">
  <div><label for="wall_type">Тип стены: </label>
    <p><input type="radio" value="bearing" id="wall_type" name="wall_type" />Несущая</p>
    <p><input type="radio" value="partition" id="wall_type" name="wall_type" />Перегородка</p>
    <p><input type="radio" value="not_set" checked id="wall_type" name="wall_type" />Не задано</p>
  </div>
  <div><label for="living">Смежная с жилым помещением:</label>
    <p><input type="radio" value="living" id="living" name="living" />Да</p>
    <p><input type="radio" value="uninhabited" id="living" name="living" />Нет</p>
    <p><input type="radio" value="not_set" checked id="living" name="living" />Не задано</p>
  </div>
  <div><label for="outdoor">Наружная: </label>
    <p><input type="radio" value="outdoor" id="outdoor" name="outdoor" />Да</p>
    <p><input type="radio" value="indoor" id="outdoor" name="outdoor" />Нет</p>
    <p><input type="radio" value="not_set" checked id="outdoor" name="outdoor" />Не задано</p>
  </div>
</div>


{% load static %}
<script type="text/javascript" src="{% static 'js/canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/func.js' %}"></script>
<script type="text/javascript" src="{% static 'js/schemeCanvasClick.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calc.js' %}"></script>

{% endblock %}